.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;

  padding:20px 50px;

  background-color:#1b1b1b;
}

.logo{
  color:#d4af37;
  font-size:32px;
}

.nav-links{
  display:flex;
  gap:25px;
}

.nav-links a{
  transition:0.3s;
}

.nav-links a:hover{
  color:#d4af37;
}

